body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
}

/* For desktop browsers */
body {
    max-width: 1024px; /* Limit the content width on wider screens */
    margin: 0 auto; /* Center the content */
    padding: 20px;
}

/* For mobile browsers */
@media (max-width: 767px) {
    body {
        max-width: 100%; /* Allow the content to take full width on small screens */
        padding: 10px;
    }
}

.screen {
  padding: 20px;
  display: none;
}

.screen h1 {
  margin-bottom: 20px;
}

.screen p {
  margin-bottom: 20px;
}

.screen ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  padding-right: 15%;
  padding-left: 1%;
}

.screen ul li {
  margin: 5px 0;
  padding: 10px;
  background-color: #ddd;
  cursor: move;
}

button {
  padding: 2% 2%;
  font-size: 16px;
  border-style: solid 1px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.sortable-ghost {
  opacity: 0;
}


.bordered-text {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.copy-container {
  display: flex;
  align-items: center;
}



/* Custom button reset & styles */

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}


button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

button:active {
  background-color: #004085;
  border-color: #004085;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.copy-button {
  margin-left: 8px;
  padding: 4px 8px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.whattsapp-button {
  margin-left: 8px;
  padding: 4px 8px;
  border: none;
  background-color: #3dc24e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.whattsapp-button img {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 15px;
  width: 36px;
  /* Adjust this size as needed */
  height: auto;
}

/* Estilos para el loader */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  /* Center the loader */
}

/* Animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}